/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #1E2B4E;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #254C71;
    -webkit-box-shadow: 0px -1px 29px 1px #131010;
    box-shadow: 0px -1px 29px 1px #131010;
}

.resume-main {
    background-color: #BCC8D3;
    -webkit-box-shadow: -9px 8px 30px -12px;
    box-shadow: -9px 8px 30px -12px;
}

.resume-aside {
    background-color: #A0AFBC;
    -webkit-box-shadow: 9px 8px 30px -12px;
    box-shadow: 9px 8px 30px -12px;
}


/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "•";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}



.biography-details li::before {
	color: white;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.fw-bolder{color: white}
.fontnoah{   font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;}


.fst-italic{color: white;
	font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

a{
color: #FFFFFF;
text-decoration-line: none;
}

a:hover{
	text-decoration-line: underline;
	color:#254C71
}

h6{
	color: white;
	background-color:#254C71;
}

.links1{
	padding-left:40px;
}

.biography-logo{
	margin-top: 10px
}

